// All

// Body
body {
	color: #454545;
	font-family: $JoSans;
	font-size: 16px;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

#full-width-page-wrapper {
  overflow: hidden;
}

a, .btn {
	transition: all .3s;
}

h1,h2,h3,h4 {
	font-weight: bold;
}

input, .form-control {
	border-radius: 2px;
}

// Section-header
.section-header {
	text-align: center;
	margin-bottom: 40px;
	h2 {
		color: $primary;
		font-size: 2.5em;
		font-weight: bold;
	}
	p {
		color: #606060;
		font-size: 20px;
	    font-style: italic;
	}
}

// Button
.btn-primary, #wpcf7-f60-o1.wpcf7 input[type=submit] {
	color: $white;
	background-color: $secondary;
	border-radius: 2px;
	border: 0;
	padding: 12px 20px 8px;
	text-transform: uppercase;
	font-weight: bold;
	height: auto;
	&:hover, &:focus {
		background-color: darken($secondary, 5%);
		color: $white;
	}
}

// Header
#wrapper-navbar {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10009;
	&.headroom--top {
		.navbar-custom {
			box-shadow: none;
		}
	}
	&.headroom--not-top {
		.navbar-custom {
			background-color: #fff;
			box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
			padding: 5px 0;
			.nav-link {
				color: $secondary;
			}
		}
	}
	@include media-breakpoint-up(xl) {
		&.with-container, &.nav-expand {
			&.headroom--not-top {
				.navbar-custom {
					padding-top: 15px;
				}
			}
		}
	}
}

// Navbar
.navbar-custom {
    background-color: transparent;
    padding: 20px 0;
    transition: all .3s;
    .navbar-brand {
    	font-family: $Pacifico;
    	font-size: 30px;
    	color: $primary;
    }
    .navbar-nav {
    	.nav-link {
    		color: $white;
			margin: 0 5px;
			position: relative;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: bold;
    		&:before {
				content: "";
				display: block;
				height: 0px;
				background-color: $primary;
				position: absolute;
				bottom: 9px;
				left: 9px;
				right: 7px;
				opacity: 0;
				transition: all .3s;
    		}
    		&:hover, &:focus {
    			&:before {
    				opacity: 1;
    				height: 3px;
    			}
    		}
    	}
    }
}

// Hero
.hero {
	background-size: cover;
    background-position: center center;
    text-align: center;
    color: $white;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: relative;
	&:before {
		background-color: rgba(#212121, .7);
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	> .container {
		position: relative;
		z-index: 5;
	}
	h2 {
		font-family: $JoSlab;
		font-size: 2.5em;
		b {
			font-family: $Pacifico;
			font-weight: 400;
			color: $primary;
		}
	}
	p {
		font-size: 3em;
		font-weight: bold;
	}
}

// Services
.services {
	padding: 80px 0;
	.item {
		text-align: center;
		h3 {
			color: $secondary;
		}
		.image {
			background-size: cover;
			background-position: center center;
			border-radius: 50%;
			height: 220px;
			width: 220px;
			margin: 0 auto 30px;
		}
		p {
			max-width: 285px;
			margin: 0 auto 30px;
		}
	}
}

// Works
.works {
	background-color: #f5f5f5;
	padding: 80px 0;
	.item {
		background-color: $white;
		border-radius: 2px;
		box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);
		margin-bottom: 30px;
		transition: all .3s;
		.image {
			width: 100%;
			height: 250px;
			background-size: cover;
			background-position: center;
			border-radius: 2px 2px 0 0;
		}
		.content {
			padding: 30px;
			h3 {
				font-size: 20px;
				text-transform: uppercase;
				font-weight: bold;
			}
			p {
				margin: 0;
				color: #909090;
				line-height: 1;
			}
		}
		&:hover, &:focus {
			transform: scale(1.03);
			box-shadow: 0px 8px 26px rgba(0, 0, 0, 0.2);
		}
	}
}

// Contact
.contact {
	background-size: cover;
	background-position: center center;
	padding: 80px 0;
	position: relative;
	.section-header {
		p {
			color: $white;
		}
	}
	&:before {
		background-color: rgba(#212121, .8);
		display: block;
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}
	> .container {
		position: relative;
		z-index: 5;
	}
	.wpcf7 {
		.wpcf7-form {
			p {
				label {
					color: $white;
				}
				&:first-of-type {
					width: 50%;
					float: left;
					position: relative;
					left: -5px;
					label {
						padding: 0 5px;
					}
				}
				&:nth-of-type(2) {
					width: 50%;
					float: left;
					position: relative;
					right: -5px;
					label {
						padding: 0 5px;
					}
				}
			}
			.wpcf7-response-output {
				color: $white;
			}
		}
	}
}